:root {
  --texts-second: #333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000;
  --texts-background-deafault: #fff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #fff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("public/fonts/pt-sans.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("public/fonts/pt-sans-bold.woff2");
  font-display: swap;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", system-ui, sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.page-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--texts-texts-basic);
}

.search-trigger {
  padding: 20px 12px;
  height: 64px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.navigation-login {
  border-radius: 4px;
  padding: 8px 50px;
  width: 160px;
  height: 36px;
  background: var(--texts-hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
}

.hero-visual-container {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background-image: url("../public/images/index-background.jpg");
  height: 485px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 51px;
}

.description-container {
  margin: 0;
  padding: 69px;
  margin-bottom: 21px;
  background: var(--texts-background-deafault);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.page-index-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: scaleY(1.05);
}

.page-index-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 103px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  transform: scaleY(1.05);
}

.feature-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.5px;
}

.feature-item-white {
  background: var(--background-second-1);
  color: var(--texts-texts-basic);
}

.feature-item-blue {
  background: var(--buttons-second);
  color: var(--texts-background-deafault);
}

.feature-item-lightblue {
  background: var(--background-second-2);
  color: var(--texts-texts-basic);
}

.feature-item-default {
  background: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.second-description-container {
  margin: 0;
  padding: 64px;
  background: var(--texts-background-deafault);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.base-button {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px 50px;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.base-button-brown {
  background: var(--texts-hover);
}

.base-button-blue {
  background: var(--buttons-second);
}

.navigation-item-search .base-button-blue {
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.base-button-green {
  background: var(--buttons-select);
}

.base-button-transparent {
  background: transparent;
}

.input-email {
  border: 0;
  padding: 14px 20px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  background: var(--forms-elements-2);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--texts-texts-basic);
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.search-page {
  margin-right: 170px;
  text-align: left;
}

.catalog-sort {
  display: flex;
  box-sizing: border-box;
  padding: 12px 20px;
  height: 49px;

  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  width: 292px;
  margin: 0;
  margin-right: 70px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.background-hero-inner {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 400px;
}

.background-hero-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../public/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  filter: blur(5px);
  transform: scale(2.2);
}

.wrap-hero-inner {
  box-sizing: border-box;
  padding: 35px 70px 70px;
}

.inner-hero-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--texts-background-deafault);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  letter-spacing: -1px;
  transform: scaleY(1.05);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--texts-background-deafault);
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  letter-spacing: -1px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid var(--buttons-disabled);
  border-radius: 4px;
  width: 340px;
  min-height: 438px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
}

.hotel-card-options {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: var(--texts-second);
}

.hotel-card-rating {
  border-radius: 4px;
  width: 140px;
  height: 37px;
  background: var(--forms-elements-2);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-second);
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background: var(--buttons-second);
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
}

.pagination-link-current {
  color: var(--texts-texts-basic);
}

.pagination-current {
  background: var(--forms-elements-2);
  color: var(--texts-texts-basic);
}

.pagination-continue {
  background: var(--texts-background-deafault);
}

.navigation {
  display: flex;
  height: 64px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.nav-left-side {
  display: flex;
  flex-direction: row;
}

.navigation-logo {
  position: absolute;
  top: 0;
  z-index: 10;
}

.nav-left-side .navigation-list {
  margin-left: 168px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: -1px;
}

.navigation-list-user {
  display: flex;
  align-items: center;
  min-width: 268px;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-list-user .navigation-link {
  padding: 20px 12px;
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.page-logo {
  display: block;
}

.page-logo-hero {
  display: block;
  margin: 0 auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.feature-image {
  display: block;
}

.email-container {
  min-height: 414px;
}

.wrap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 406px;
}

.description-container-wrap {
  margin-bottom: 0;
  padding: 96px 304px;
}

.description-container-email {
  background-color: transparent;
  margin-bottom: 0;
  padding: 96px 258px 104px;
}

.marking-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
  margin: 0 auto;
}

.navigation-item-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 107px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 70px 30px;
  margin: 0 auto;
  min-height: 120px;
  width: 100%;
}

.page-footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
}

.page-footer-item {
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.inner-hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.catalog-filter-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

.buttons-gap {
  margin-left: auto;
  align-self: flex-end;
  gap: 32px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 70px;
  color: var(--texts-background-deafault);
}

.catalog-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 50px 70px 60px;
  gap: 32px;
}

.catalog-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.button-light {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.catalog-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 20px;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 80px;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 8px;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 60px;
}

.navigation-item-search .base-button-brown {
  height: 52px;
}

.white-color {
  color: var(--texts-background-deafault);
}
